/* element selector */
h2 {
  color: greenyellow;
}

/* ID selector */
#first-paragragh {
  color: rgb(100, 20, 50);
}

/* class selector */
.orange-text {
  color: orange;
}
.large-text {
  font-size: 28px;
}

/* element selector and class selector 混用 */
a.large-text {
  font-size: 16px;
  color: gray;
}
