/* 可以在 p tag 文章內容的前面(::before)新增 ">>" 符號(content) */
p::before {
  content: ">>";
  color: blue;
}

p::first-line {
  font-size: 32px;
}

/* 可以更改被使用者選取的文字內容(反白)的顏色 */
*::selection {
  background-color: orange;
}
