#background-wrap {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  /* pointer-event: none 讓使用者用滑鼠點擊都點不到 background-wrap 的物件 */
  pointer-events: none;
}

.bubble {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* animation: function time time_function time length method
     alternate: 會重複執行 function 的內容, 第一次是正向的, 第二次是
     反向的, 持續 time length.
*/
.x1 {
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 90%;
  top: 10%;
  transform: scale(0.2);
}

.x3 {
  animation: animateBubble 22s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  left: 60%;
  top: 10%;
  transform: scale(0.4);
}

.x4 {
  animation: animateBubble 30s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 15%;
  transform: scale(0.5);
}

.x5 {
  animation: animateBubble 36s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 30%;
  top: 5%;
  transform: scale(0.3);
}

.x6 {
  animation: animateBubble 33s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 40%;
  top: 5%;
  transform: scale(0.1);
}

.x7 {
  animation: animateBubble 35s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 70%;
  top: 5%;
  transform: scale(0.8);
}

.x8 {
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 5%;
  transform: scale(0.7);
}

.x9 {
  animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 20%;
  top: 10%;
  transform: scale(0.9);
}

.x10 {
  animation: animateBubble 32s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 30%;
  transform: scale(0.6);
}
