h1 {
  /* content position */
  /* width: 500px;
  height: 600px;
  background-color: red; */

  /* border(border 也可以設置 top, right, left, bottom) */
  border: 5px solid black;
  border-radius: 30px;
  /* padding-left: 100px; */
  /* padding: top | right | bottom | left
     padding: top | horizontal | bottom
     padding: vertical | horizontal
     padding: 10px <- apply to all four sides */
  padding: 1rem 3rem;

  /* margin 和 padding 語法格式相同 */
  margin: 2rem 3rem;
}

.box {
  width: 500px;
  height: 500px;
  background-color: red;
  border-radius: 50%;
}
