<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增學生失敗</title>
    <meta name="author" content="Sapphire" />
    <style>
      a {
        display: block;
        padding: 0.5rem 0rem;
      }
    </style>
  </head>
  <body>
    <p>發生未知錯誤。。。</p>
    <p>詳細原因：<%= msg %></p>
    <a href="/students/">回到首頁</a>
  </body>
</html>
