<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="author" content="Sapphire" />
    <link rel="" href="" />
  </head>
  <body>
    <h1>資料已經寄送到伺服器端了</h1>
    <h3>以下是提供的資料：</h3>
    <p>姓名：<%= name %></p>
    <p>年齡：<%= age %></p>
  </body>
</html>
