attribute selector input[type="text"] {
  color: red;
}

/* :hover 當使用者將滑鼠停在該元件上, 將會改變該元件的樣式 */
input[type="text"]:hover {
  color: lightgreen;
}

/* :active 當使用者將滑鼠點著該元件, 將會改變該元件的樣式 */
input[type="text"]:active {
  color: blue;
}

/* :focus 當使用者將滑鼠游標在該元件上, 將會改變該元件的樣式 */
input[type="text"]:focus {
  color: purple;
}
