body {
  /* font-size: 20px; */
}

h1 {
  /* (parent element font-size) 50(px) * 2(em) =(h1) 100px */
  /* font-size: 2em; */
  /* font-size: 1.5rem; */

  background-color: red;
  width: 30vw;
  height: 15vh;
}

.box {
  width: 500px;
  background-color: aqua;
  height: 300px;
}

.inner-box {
  width: 50%;
  background-color: black;
  height: 50%;
}
