body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  /* 水平間距 */
  letter-spacing: 10px;
  /* 文字行距 */
  line-height: 30px;
  /* 段落的內縮長度 */
  text-indent: 2rem;
  /* 設置文字粗體樣式 */
  font-weight: bolder;
}

table,
th,
td,
tr {
  border: 1px solid black;
}

td,
th {
  text-align: center;
}

a {
  /* default: text-decoration: underline */
  /* text-decoration: none; */
  text-decoration: line-through;
}
